<div id="about">
  <h1>99aana</h1>
  99aana.com is Nepal’s No 1 Property Website and has been adjudged as the most preferred property site in Nepal, by independent surveys. The website provides a platform for property buyers and sellers to locate properties of interest and source information on the real estate space in a transparent and unambiguous manner. All trademarks, logos, and names are properties of their respective owners.
  <br><br> All Rights Reserved. © Copyright 2022 99aana Private Limited.
</div>

<div id="midDiv">
  <ul>Helpful Links
    <li>About Us</li>
    <li>Cotact Us</li>
    <li>Something</li>
    <li>Anything</li>
    <li>Jenisha</li>
  </ul>
</div>

<div id="lastDiv">
  <ul>Contact US
    <li>99aana.com</li>
    <li>4th floor, Bajracharya House,</li>
    <li>New Baneshwar, Kathmandu</li>
    <li>Phone: 9801850872</li>
    <li>E-Mail: info@99aana.com</li>
  </ul>
  
  <i class="fa fa-facebook" aria-hidden="true"></i>
  <i class="fa fa-instagram" aria-hidden="true"></i>
  <i class="fa fa-linkedin" aria-hidden="true"></i>
  <i class="fa fa-youtube" aria-hidden="true"></i>
</div>
