<meta charset="UTF-8">
<title>Land & Construction</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link type="text/css" rel="stylesheet" href="../public/css/style.css">
<link type="text/css" rel="stylesheet" href="../public/css/login.css">

<script defer type="javascript" src="../public/js/script.js"></script>
<script defer type="javascript" src="../public/js/button.js"></script>
