* {box-sizing:border-box;}
body {
	margin:0 0 0 0;
  padding:0 0 0 0;
  text-align:center;
}


#Header {
	display:flex;
	justify-content:space-between;
	color:white;
	background-color:cornflowerblue;
	padding:0.6rem 1rem 0.6rem 1rem;
}
#HeadIcons i {
	margin-right:0.2rem;
}
h1 {
	color:purple;
	font-size:2rem;
	margin-left:2.2rem;
}
hr{width:95%}




#buttons{

}
button {
  background-color:transparent;
  font-size:1.5rem;
  border-radius:5px;
  padding:0.5rem 0.5rem;
  margin:1rem 2rem 1rem 
}
button:hover {
  border:auto;
  background-color:purple;
  font-size:1.5rem;
  color:white;
}



#Construction {
	font-size:4rem;
	border:2px solid green;
	padding:6rem 1.5rem 6rem 1.5rem;
	background-color:yellow;
	display:none;
}
#Land{
  background-color:cornflowerblue;
  text-align:center;
  padding:0.6rem 1.5rem 1rem 1.5rem;
}
#Land h1 {
  color:white
}
#jagga{
  display:grid;
  gap:1rem;
  grid-template-columns: auto auto auto;
}
.box{
  border:1px solid red;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  text-align:left;
}
.box img{
  width:100%;
}
.box span {
  color:white;
  font-size:1.0rem;
  font-weight:600;
}
.box .jaggaInfo {
  background-color:gray; 
}
#jagga #jagBtn {
	grid-column: 2 / 2;
}
/* End of Land */


#form{
	
  padding-top:3rem;
  text-align:left;
  border:1px solid red;
}
#form h1{
  font-size:3rem;
}
input[type="text"],
input[type="number"],
input[type="email"],
textarea {
  background-color: #FFFFFF;
  border: 1px solid rgb(174,174,174);
  height: 2.3rem;
  width: 85%;
  cursor: pointer;
  caret-color: #00ccff;
  margin: auto auto 0.5rem 1rem;
}
textarea{height:inherit}
input:focus,
textarea:focus{
  outline:none;
  border:1px solid #00ccff;
}
form button{
  display:inline-block;
  height:;
  margin:2rem 1rem 1rem 1rem;
}
form button:hover{
  color:white;
}
/* End of Form */


footer {
	border:1px solid blue;
	display:flex;
	justify-content:space-between;
	padding:0.6rem 1.5rem 0.6rem 1.5rem;
}
footer #about {
	width:50vw;
	border:2px solid red;
}
footer #midDiv {
	border:2px solid yellow;
}
footer ul {
  font-size:1.5rem;
  text-align:left;
  
  list-style-type: "\27A2";
}
footer li {
  font-size:1rem;
  padding-left:0.2rem;
}
footer li {
  font-size:1rem;
  padding-left:0.2rem;
}
footer #lastDiv {
	border:2px solid green;
}
