<head>
  <%- include('../partials/head'); %>
</head>

<body>
<div id="Header">
  <div id="HeadNum">
    <span><i class="fa fa-phone" aria-hidden="true"></i> 9864049501</span>
    <span><i class="fa fa-envelope-o" aria-hidden="true"></i> email@web</span>
  </div>

  <div id="HeadIcons">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <i class="fa fa-telegram" aria-hidden="true"></i>
    <i class="fa fa-whatsapp" aria-hidden="true"></i>
  </div>
</div>

<h1>RED CORN CORPORATION PVT. LTD</h1><!--Main Header-->
<hr>

<div id="buttons">
  <button id="landButton">Buy Land</button>
  <button id="construcButton">Construction</button>
</div>

<div id="Construction">this is the construction box. In here will be Construction stuff etc</div>
<div id="Land">
  <h1>Nepal’s No. 1 Property Website – Buy, Sell or Rent Properties Online Nepal</h1>

  <div id="jagga">
    <div class="box">
      <img src="https://i.ibb.co/DYNptbK/jagga1.webp" alt="jagga1" border="0">
      <span>Harion sarlahi</span>
      <div class="jaggaInfo">
        <span>Listing ID:12345</span><br>
        <span>sq m: 0-10-2-0</span>
      </div>
      <div class="jaggaInfo2">
        <span>Jenisha Amtulah</span><br>
        <span>5 minutes ago</span>
      </div>
    </div><!--box-->
    
    <div class="box">
      <img src="https://i.ibb.co/DYNptbK/jagga1.webp" alt="jagga1" border="0">
      <span>Dharan</span>
      <div class="jaggaInfo">
        <span>Listing ID:12345</span><br>
        <span>sq m: 0-10-2-0</span>
      </div>
      <div class="jaggaInfo2">
        <span>Puskar wagle</span><br>
        <span>4 days ago</span>
      </div>
    </div><!--box-->
    
    <div class="box">
      <img src="https://i.ibb.co/DYNptbK/jagga1.webp" alt="jagga1" border="0">
      <span>Biratnagar</span>
      <div class="jaggaInfo">
        <span>Listing ID:12345</span><br>
        <span>sq m: 0-10-2-0</span>
      </div>
      <div class="jaggaInfo2">
        <span>Pyaro Manis</span><br>
        <span>4 days ago</span>
      </div>
    </div><!--box-->
    <div class="box">
      <img src="https://i.ibb.co/DYNptbK/jagga1.webp" alt="jagga1" border="0">
      <span>Harion sarlahi</span>
      <div class="jaggaInfo">
        <span>Listing ID:12345</span><br>
        <span>sq m: 0-10-2-0</span>
      </div>
      <div class="jaggaInfo2">
        <span>Jenisha Amtulah</span><br>
        <span>5 minutes ago</span>
      </div>
    </div><!--box-->
    
    <div class="box">
      <img src="https://i.ibb.co/DYNptbK/jagga1.webp" alt="jagga1" border="0">
      <span>Dharan</span>
      <div class="jaggaInfo">
        <span>Listing ID:12345</span><br>
        <span>sq m: 0-10-2-0</span>
      </div>
      <div class="jaggaInfo2">
        <span>Puskar wagle</span><br>
        <span>4 days ago</span>
      </div>
    </div><!--box-->
    
    <div class="box">
      <img src="https://i.ibb.co/DYNptbK/jagga1.webp" alt="jagga1" border="0">
      <span>Biratnagar</span>
      <div class="jaggaInfo">
        <span>Listing ID:12345</span><br>
        <span>sq m: 0-10-2-0</span>
      </div>
      <div class="jaggaInfo2">
        <span>Pyaro Manis</span><br>
        <span>4 days ago</span>
      </div>
    </div><!--box-->
    
    <div id="jagBtn">
    	<button id="prev">Prev</button>
  		<button id="next">Next</button>
  	</div>
  </div><!--id jagga-->
</div><!--main-->

<div id="form">
  <form action="https://formsubmit.co/your@email.com" method="POST">
     <input placeholder="नाम / name" type="text" name="name" required>
     <input placeholder="नम्बर / number" type="number" name="number" required>
     <textarea rows="6" cols="5" placeholder="सन्देश / message" type="text" name="message" required></textarea>
     <button type="submit">जिज्ञासा / Let us know</button>
	</form>
</div>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<!-- End -->
</body>
</html>
